<div id="main-nav">
  <a href="/">Home</a>
  <a href="/profile">Perfil</a>
</div>


<div id="pizarra">
  <h1> LA PIZARRA DE {{name}}</h1><br>
  {{#each meetings}}
  <div id="{{this.status}}" class="meeting">
    <h3>{{this.title}} </h3>
    <p>{{this.date}}</p>
    <p>{{this.status}}</p>
    <p>{{../role}}</p>

    <form action="/confirm/{{this.id}}" method="POST">
      {{#ifProfeAndPending ../role this.status}}
      <button id="confirm">ACEPTAR SOLICITUD</button>
      {{/ifProfeAndPending}}
    </form>

    {{!-- {{#ifEqual this.status 'pending'}}
    {{#ifEqual role 'SOY PROFE'}}

    {{/ifEqual}}
    {{/ifEqual}} --}}
  </div>
  {{/each}}
</div>
{{!-- En principio no necesito id
<h2 class="Prueba">Pide cita: {{id}}</h2> --}}
<br>
{{!-- SOLO PARA PUPILS --}}
{{#ifEqual role 'SOY PROFE'}}
<h1>soy profee</h1>
{{else}}
<div id="pupil">
  <div id="filtro">
    <h1>Encuentra a tu profe</h1>
    <div id="form-meeting"></div>
    {{!-- <select name="currency" id="selectCurrency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select> --}}
    <form action="/user/main" method="POST">
      <select name="subjects">
        <option value="Física" name="Física">Física</option>
        <option value="Geografía" name="Geografía">Geografía</option>
        <option value="Literatura" name="Literatura">Literatura</option>
        <option value="Guitarra" name="Guitarra">Guitarra</option>
        <option value="Historia" name="Historia">Historia</option>
        <option value="Ajedrez" name="Ajedrez">Ajedrez</option>
        <option value="Química" name="Química">Química</option>
        <option value="Economía" name="Economía">Economía</option>
        <option value="Inglés" name="Inglés">Inglés</option>
        <option value="Lengua" name="Lengua">Lengua</option>
        <option value="Dibujo técnico" name="Dibujo técnico">Dibujo técnico</option>
        <option value="Biología" name="Biología">Biología</option>
      </select>
      <button type="submit">Filtra</button>
    </form>

  </div>
  <div id="teachersMap"></div>
</div>
{{/ifEqual}}


<script>
  window.teacherList = {{{teacherStr}}}
</script>


{{!--
<script src="/javascripts/addMeeting.js"></script> --}}
<script src="/javascripts/listTeacherMap.js"></script>
{{!--
<script src="/javascripts/buttonMap.js"></script> --}}